<html> <body> <head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head> 
  
  <div style="text-align:center";class="log-form">
    <h2>Login Form</h2>
    <form>
      <br><br>
      <input type="text" title="username" placeholder="username" />
      <br><br>
      <input type="password" title="username" placeholder="password" />
      <br><br>
      <a href="" class="btn">Login</a>
      <br><br>
      <a href="/registration" class="btn">Submit</a>
    </form>
  </div> </body> </html>